{
  "extends": ["react-app", "airbnb"],
  "rules": {
    "no-unused-vars": ["warn", { "vars": "all", "args": "after-used" }],
    "array-element-newline": ["warn", "consistent"],
    "object-curly-newline": [
      "warn",
      {
        "consistent": true
      }
    ],
    "react/jsx-filename-extension": "off"
  }
}
